<footer>
    <div class="contato">
        <a href="/"><img class="logotipo" src="/img/Rowbuy_logoText_Black.png" alt="Logo do RowBuy"></a>
        <p>Telefone: (00) 00000-0000</p>
        <p>Email: exemplo@gmail.com</p>
    </div>
    <div class="outros">
        <h3>Outros</h3>
        <a href="#">Suporte</a>
        <a href="#">Quem Somos</a>
        <a href="#">Para Empresas</a>
        <a href="#">Para Autônomos</a>
        <a href="#">Trabalhe Conosco</a>
    </div>
    <div class="fiquePorDentro">
        <h3>Fique por dentro</h3>
        <label for="inputEmailDentro"><input type="email" name="inputEmailDentro" id="inputEmailDentro"
                placeholder="Insira seu Email"><button type="button">Enviar</button></label>
        <a href="#">
            <img src="/img/instagram.svg" alt="Clique aqui e acesse nosso instagram.">
        </a>
        <a href="#">
            <img src="/img/twitter.svg" alt="Clique aqui e acesse nosso twitter.">
        </a>
        <a href="#">
            <img src="/img/facebook.svg" alt="Clique aqui e acesse nosso facebook.">
        </a>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>