<header class="header-container">
    <a href="/"><img class="logotipo" src="/img/Rowbuy_logoText_Black.png" alt="Logotipo do RowBuy"></a>
    <div class="header-buttons">
        <button><img src="/img/lupa-pesquisa.svg" alt="Pesquisar"></button>
        <button><img src="/img/cart-compras.svg" alt="Carrinho de Compras"></button>
        <a href="/login"><button><img src="/img/user.svg" alt="Pefil"></button></a>
        <button><img src="/img/menu.svg" alt="Menu"></button>
    </div>
</header>