@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    /*COLOR: #f6f6f6, #eaeaea, #d61b23*/
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --red:#d61b23;
    --whiteMain: #EAEAEA;
    --conWhite: #f6f6f6;
}

/*Header started*/    
.header-container{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
    width: 100%; height: 5vw;
}
.header-container .logotipo{
    width: 12vw; 
    display: inline-block;
    height: 6vw;
    margin: -.1vw 0 0 6vw;
}
.header-buttons{
    display: inline-flex;
    margin: .2vw 4vw 0 0;
}
.header-buttons button{
    padding: .5vw;
    cursor: pointer;
    background-color: #f6f6f6;
    display: inline-flex;
    border: none;
    margin-right: .5vw;
}

.header-buttons button:hover{
    background-color: #EAEAEA;
    border-radius: 10px;
    opacity: .5;
    transition: .3s;
}

.titleMain{
    text-align: center;
    font-weight: 400;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.titleWithMe{
    width: 60%;
    display: block;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 2vw;
    margin-left: auto;
}

.getStart{
    display: block;
    padding: 1vw 0 1vw 0;
    width: 40%;
    margin-left: auto;
    background-color: rgb(194, 16, 16);
    color: #fff;
    font-size: 1.2vw;
    border: none;
    border-radius: 14px;
    margin-right: auto;
    margin-bottom: 4vw;
    cursor: pointer;
}

.container-geral{
    width: 100%;
    height: 20vw;
    display: flex;
    margin-top: 10vw;
}

.container-cadastro{
    width: 25vw;
    float: left;
    display: flex;
    color: #ffffff;
    background-image: linear-gradient(150deg, #d61b23, #740b0f);
    margin-left: 20vw;
    flex-direction: column;
    align-items: center;
}

.container-cadastro h3{
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
}

.container-cadastro p{
    width: 80%;
    font-size: 1.3vw;
    font-weight: 100;
    text-indent: 1vw;
    text-align: center;
    margin-bottom: 3vw;
}

.container-cadastro .btnCadastrar{
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 1vw;
    font-size: 1.1vw;
    cursor: pointer;
    font-weight: 200;
    text-decoration: none;
}

.container-cadastro .btnCadastrar:hover{
    background-color: #740b0f;
    transition: .3s;
}

.linhaVertical{
    float: center;
    border-right: 1px solid rgba(0, 0, 0, 0.596);
    margin-left: 3vw;
}

.container-login{
    float: right;
    width: 30%;
    margin-top: -5vw;
    height: 30vw;
}

.container-login h3{
    text-align: center;
    margin-bottom: 2vw;
}

.container-form{
    padding: 1vw;
}

.container-form label{
    font-weight: 600;
    margin-left: 15%;
}

.container-form-login label{
    font-weight: 600;
    margin-left: 15%;
}

.container-login .inputs{
    display: block;
    text-indent: .3vw;
    padding: .2vw;
    height: 1.8vw;
    width: 70%;
    margin-bottom: 2.8vw;
    margin-top: .3vw;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #929292;
}

.container-login .inputs:focus{
    transform-origin: inherit;
    transition: .6s;
    border-bottom: 1.5px solid #bd0812;
}

.container-login .btn-login{
    display: block;
    width: 80%;
    padding: .6vw 0vw;
    font-size: 1vw;
    border: none;
    border-radius: 12px;
    background-color: #bd0812;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.container-login .btn-login:hover{
    background-color: #aa0009;
    transition: .4s;
}

.esqueciASenha{
    color: #6b6b6b;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 1vw 0vw;
}

.esqueciASenha:hover{
    text-decoration: underline;
}

.container-login hr{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: #00000098;
}

.container-login h4{
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.login-out{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.iconsLogin{
    width: 2vw;
    background-color: #EAEAEA;
    padding: .5vw;
    border-radius: 15px;    
}

.loginFacebook{
    margin-left: 1vw;
    margin-right: .3vw;
}

.iconsLogin:hover{
    background-color: #b6b6b6;
    transition: .2s;
    opacity: .8;
}

footer{
    width: 100%;
    background-color: #EAEAEA;
    margin-top: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 0vw;
}

.contato{
    display: inline-block;
    width: 20%;
}

.contato a{
    display: block;
    width: 100%;
}

.contato p{
    margin-bottom: 1vw;
    margin-left: 2vw;
}

footer .logotipo{
    width: 12vw;
    height: 6vw;
    margin-left: 2vw;
}

.outros{
    width: 10%;
    margin-left: 8vw;
    margin-right: 8vw;
}

.outros h3{
    margin-bottom: 1vw;
    font-size: 1.3vw;
}

.outros a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: .4vw;
}

.outros a:hover{
    text-decoration: underline;
}

.fiquePorDentro h3{
    text-align: center;
    margin-bottom: 1vw;
    font-size: 1.3vw;
}

.fiquePorDentro label{
    display: block;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    margin-bottom: 2vw;
}

.fiquePorDentro input{
    width: 60%;
    border: 1px solid #c0bfbf;
    padding: .8vw 0vw;
    outline: none;
    padding-left: 8px;
    border: none;
}

.fiquePorDentro button{
    border: none;
    background-color: #bd0812;
    color: #fff;
    padding: .8vw 1.5vw;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.fiquePorDentro button:hover{
    background-color: #aa0009;
}

.fiquePorDentro img{
    background-color: #ffffff;
    padding: .6vw;
    border-radius: 20px;
    width: 2vw;
}

.fiquePorDentro a{
    margin-right: 2vw;
   text-decoration: none;
   margin-left: 1.4vw;
}

.alinhadoCentro{
    margin-left: auto;
    margin-right: auto;
}

.main-container{
    width: 100%;
}

.container-form{
    width: 30vw;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.container-form h2{
    text-align: center;
    font-weight: 600;
    font-size: 1.4vw;
    margin-bottom: 2vw;
}

.container-form label{
    display: block;
    margin-left: 2vw;
    margin-bottom: 1.2vw;
}

.inputs-Cadastro{
    display: block;
    margin-top: .6vw;
    height: 2vw;
    text-indent: .5vw;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid #929292;
    margin-bottom: 1.5vw;
}

.inputs-Cadastro:focus{
    border-bottom: 1px solid #aa0009;
    transform-origin: inherit;
    transition: .6s;
}

.btnProsseguir{
    width: 90%;
    height: 2.5vw;
    display: block;
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: #ffffff;
    margin-top: 2vw;
    font-weight: 400;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: #bd0812;
}

.btnProsseguir:hover{
    background-color: #85070d;
    transition: .4s;
}

.container-form select{
    display: block;
    margin-top: .6vw;
    height: 2vw;
    text-indent: .5vw;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.705);
}

.container-form .inputs{
    display: block;
    text-indent: .3vw;
    padding: .2vw;
    height: 1.8vw;
    width: 70%;
    margin-bottom: 2.8vw;
    margin-top: .3vw;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #929292;
}

.container-form .inputs:focus{
    transform-origin: inherit;
    transition: .6s;
    border-bottom: 1.5px solid #bd0812;
}

.container-form .labels-form{
    font-weight: 600;
    margin-left: 15%;
}

.termosDeCondicoes{
    width: 1vw;
    margin-left: 2vw;
}

.centro{
    display: flex;
    width: 100%;
    justify-content: center;
}

.linkTermos{
    font-size: 1vw;
    margin-left: .8vw;
}

.btnCadastrarProdutos{
    background-color: #aa0009;
    color: #fff;
    padding: 1vw 2vw;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 14px;
    display: flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 20vw;
    justify-content: center;
}

.btnCadastrarProdutos:hover{
    background-color: #720006;
    transition: .4s;
}

.conjuntoProdutos{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0cb;
    margin-top: 2vw;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.cardProduto{
    width: 98%;
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
}

.cardHeader{
    width: 15vw;
    height: 15vw;
    display: flex;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
}

.cardHeader img{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.bodyCard{
    width: 60%;
    margin-left: 5vw;
}

.btnEdit{
    width: 2vw;
    padding: 2px 4px;
    cursor: pointer;
    border: none;
}

.pencil{
    background-color: #e28801;
    margin-right: 1vw;
}

.pencil:hover{
    background-color: #975b00;
}

.trash{
    background-color: #aa0009;
}

.trash:hover{
    background-color: #720006;
}

.areaEdit{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.btnEdit img{
    width: 100%;
}

.bodyCard h3{
    font-weight: 500;
    text-align: center;
    margin-top: .5vw;
    width: 100%;
    font-size: 1.6vw;
}

.descricaoProdutoCard{
    text-align: center;
    margin-bottom: 2vw;
}

.textPromotion{
    text-decoration: line-through;
    color: #00000059;
    margin-right: 1vw;
}

.textPromotion02{
    color: #ff0000a8;
}


.modal-description-product{
    position: fixed;
    width: 100%;
    height: 101%;
    display: none;
    background-color: #0000009f;
    z-index: 3;
}

.modal{
    background-color: #EAEAEA;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    height: 90%;
    padding: 1vw;
}

.modal-header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal-header button{
    border: none;
    background-color: transparent;
    color: #85070d;
    font-size: 1.6vw;
    font-weight: 500;
    cursor: pointer;
}

.body-modal{
    width: 100%;
    display: flex;
}

.aside-left{
    width: 30vw;
    height: 30vw;
    margin-left: 2vw;
    margin-top: 3vw;
}

.aside-left img{
    width: 100%;
    border-radius: 12px;
}

.aside-right{
    margin-top: 3vw;
    margin-left: 4vw;
    text-align: center;
    background-color: #f1f1f1;
    width: 50%;
}

.aside-right h2{
    font-weight: 600;
    color: #740b0f;
    font-size: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.aside-right .textPromotion, .aside-right .textPromotion02 {
    font-size: 1.8vw;
    margin-bottom: 1.5vw;
}

.aside-right .description{
    width: 70%;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
}

.contactVendedor{
    font-size: 1.2vw;
    text-align: center;
    margin-top: 2vw;
}

.modal-cadastro-errado{
    height: 5vw;
    width: 40vw;
    position: fixed;
    background-color: #0000008a;
    z-index: 3;
    color: #fff;
    display: none;
}

.titleJaLogado{
    margin-top: 2vw;
    text-align: center;
}

.btnSair{
    border: none;
    padding: 1vw 2vw;
    width: 20vw;
    border-radius: 14px;
    background-color: #aa0009;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.3vw;
    margin-top: 2vw;
    cursor: pointer;
}

.btnSair:hover{
    transition: .2s;
    background-color: #850007;
}
